.shopping-cart-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
  }
  
  .cart-item-details {
    flex-grow: 1;
  }
  
  .cart-item-details h2 {
    margin-top: 0;
  }
  
  .cart-item-details p {
    margin: 5px 0;
  }
  
  .cart-item-image {
    flex-shrink: 0;
    margin-right: 20px; 
    width: 100px; 
    height: auto; 
  }
  
  .remove-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #d32f2f;
  }
  
  .quantity-controls {
    display: flex;
    align-items: center;
  }
  
  .quantity-controls button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .quantity-controls button:hover {
    background-color: #555;
  }
  
  .quantity-display {
    margin: 0 10px;
  }
  
  .finalize-button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    float: right;
  }
  
  .finalize-button:hover {
    background-color: #388e3c;
  }
  